/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
body {
	font: 75% georgia, sans-serif;
	color: #555753;

	}
/* specific divs */
header h1 {
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat;
	height: 100px;
	float: right;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
header h2{
	visibility: hidden;
}

p {
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	margin: 5px 75px;
	font-family: cursive;
}

div {
	padding: 25px;
}

h3 {
	color: red;
	font-size: 34px;
	text-align: center;
	font-family: fantasy;
}

#zen-instro{
	background-image:url(http://csszengarden.ccom/001/h1.gif) no-repeat;
	background-size:contain;
	background-position:center;
}
#zen-intro:before{
	font: italic normal 1.5em georgia, sans-serif;
	content: ' Me and the Boys going to the';
	overflow: hidden;
}
header {
	height: 280px;
	background: url(https://i.kym-cdn.com/photos/images/newsfeed/001/504/274/61b.png) no-repeat;
	background-size:contain;
	background-size:100% 280px;
	background-position:center;
	margin-bottom: 25px;
}

#zen-preamble{
border: 5px solid black;
margin-right: 25px;
width: 25%;
background-color: #f1f1f1;
height: 100%;
overflow: auto;
float: left;
margin-left:20px;
font-size: 16px;
font: "Times New Roman", Times, serif;
}

#zen-preamble>p{
	font-size: 20px;
}

#zen-explanation{
  margin-right: 100px;

}

#zen-supporting{
	margin-top: 50px;
}

a {
	font-size: 18px;
	color: green;
}

.design-name {
	color: green;
}


	.design-selection {
		/*	display:block;*/
	     padding: 10px;
	     margin: 3%;
	     float:left;
	   /*  max-width: 800px;
	     max-height: 300px;*/
	     background-color: lightblue;
	     border-color: gold;
	     border-style: double;
	     border-width: thick;
	     outline:navy;
	     overflow: auto;
			 color: violet;
	}


	.design-archives {
		padding: 10px;
		margin: 3%;
		float:left;
	/*  max-width: 800px;
		max-height: 300px;*/
		background-color: lightblue;
		border-color: gold;
		border-style: double;
		border-width: thick;
		outline:navy;
		overflow: auto;
		color: violet;
	}

	.zen-resources {
		padding: 10px;
		margin: 3%;
		float:left;
	/*  max-width: 800px;
		max-height: 300px;*/
		background-color: lightblue;
		border-color: gold;
		border-style: double;
		border-width: thick;
		outline:navy;
		overflow: auto;
		color: violet;
	}

	.select {
		color: purple;
	}
